.container {
    height: calc(100vh - 100px);
    background-color: #d1411e;
    overflow: hidden;
    position: relative;
}
.arrowContainer {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index:2;
}
.wrapper {
    width: 250vw;
    height: 100%;
    display: flex;
    transition: all 0.6s ease-in-out;
    padding-left: 10rem;
}



.imgContainer {
    /* width: 100vw;
    height: 100%; */
    margin: auto;
    width: 500pt;
    height: 50%;
    position: relative;
    padding-top: 20rem;
    padding-bottom: 10rem;
}

@media screen and (max-width: 480px) {
    .container{
      height: 50vh;
    }
  }